<div class="flex flex-row m-10 rounded-full bg-grey rounded-lg px-2 py-4 shadow-xl">
    <div class="basis-1/4 flex justify-center m-5">
        <img class="rounded-lg" [src]="data?.artworkUrl100" [alt]="data?.collectionName">
    </div>
    <div class="basis-3/4 flex flex-col justify-between">
        <div class="mb-20">
            <div class="text-[#334155] font-medium">{{data?.artistName}}</div>
            <div class="text-[#334155] text-2xl font-bold">{{data?.trackName}}</div>
        </div>
        <div class="flex flex-row justify-between justify-item-center">
            <div class="rounded-full text-xs text-white bg-[#10b981] font-medium py-2 px-4 my-auto">{{data?.primaryGenreName}}</div>
            <div class="flex flex-row justify-between"> 
                <div class="my-auto mr-2">
                    <fa-icon [styles]="{'color': '#f5b014'}" [icon]="faDollarSign"></fa-icon> 
                </div>
                <div class="flex flex-col justify-center text-[#f5b014] font-semibold my-auto">
                    {{data?.trackPrice}}
                </div>
            </div>
        </div>
    </div>
</div>