<modal></modal>
<appbar></appbar>
<div class="flex flex-col h-full w-full p-5">
    <div class="flex justify-center m-10">
        <span class="my-auto font-medium">Search result for : </span>
        <span class="my-auto text-2xl font-medium text-[#7b34dd] pl-4">{{keywords}}</span>
    </div>
    <div *ngIf="songs.length > 0" class="songs-list pd-5px">
        <div class="mb-16" *ngFor="let song of songs">
            <song-card [data]="song"></song-card>
        </div>
    </div>
    <div class="flex justify-center">
        <button class="rounded-full text-[#64748b] bg-[#e0e7ff] font-medium mt-5 py-2 px-8">Load More</button>
    </div>
</div>