<div
  class="flex flex-row justify-between justify-item-center from-[#712bda] to-[#a45deb] bg-gradient-to-b h-16 pt-2 px-5 rounded-b-[50%]">
  <div class="cursor-pointer" (click)="home()">
    <fa-icon [styles]="{'color': 'white'}" [icon]="faBars"></fa-icon>
  </div>
  <div class="text-white text-l font-medium">ngmusic</div>
  <div class="cursor-pointer" (click)="show()">
    <fa-icon [styles]="{'color': 'white'}" [icon]="faSearch"></fa-icon>
  </div>
</div>