<div class="flex flex-col justify-between from-[#712bda] to-[#a45deb] bg-gradient-to-b z-50 h-full w-full absolute p-5">
    <div class="flex justify-center text-white text-xl font-medium my-auto mx-auto">ngmusic</div>
    <search></search>
</div>