<div *ngIf="show" class="flex flex-col justify-center bg-[#334155]/95 z-50 h-full w-full absolute p-5">
    <div class="text-white text-2xl font-medium cursor-pointer absolute top-1 right-5" (click)="close()">x</div>
    <div class="flex justify-center text-white text-2xl font-medium mb-10">Search</div>
    <search></search>
</div>