<input type="text" [(ngModel)]="keywords" class="
                    text-m
                    text-center
                    rounded-full
                    w-full
                    py-2
                    focus:outline-none
                    focus:border-purple-500 focus:ring-purple-500
                    focus:ring-1
                  " placeholder="Artist / Album / Title" />
<div class="flex w-full">
  <button type="submit" class="
        flex
        mt-5
        items-center
        font-medium
        justify-center
        focus:outline-none
        text-white text-sm
        sm:text-base
        rounded-full
        py-2
        w-full
        transition
        duration-150
        ease-in
        disabled:bg-purple-200
      " [ngClass]="btnClass" [disabled]="loading" (click)="search()">
      <div *ngIf="loading" class="loader ease-linear rounded-full border-2 border-t-4 h-4 w-4 my-auto mr-2"></div>
      
      Search
  </button>
</div>